<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/less")
</head>
<body>
    <h3>Layout is being used</h3>
    <div>
        @RenderBody()
    </div>
</body>
</html>
